{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": "node 10"
      }
    ]
  ],
  "plugins": ["@babel/transform-runtime"],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    },
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
